hr{
    width:30%;
    margin-left:0;
    border-color:grey;
    border-top-width: 1px;
    margin-left:20px;
}

nav{
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
    padding-top:1em;
}

img{
    width:30%;
    height: 400px;
    object-fit: cover;
    margin:1.5%;
}
